@charset "utf-8";
/*！
 *  全局公共的基本样式
 * */

body,html{
	font-family: $font-family;
}


/*
 * a标签
 * */
a{
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    &:focus{
        text-decoration: inherit;
        cursor: inherit;
    }
     &:link{
        text-decoration: inherit;
        cursor: inherit;
    }   
}


/**
 * 字体  & 文本内容 
 */
h5{
    font-weight: 700;
}

.text-ellipsis{
    @include ellipsis;
}

.red01{
    color:$color-red01;
}
