@charset "UTF-8";
/*!
 *全局变量
 * */

$font-family:'微软雅黑';

//灰色
$color-gray01:#757575;   


//黑色
$color-black01:#333;     


//红色
$color-red01:#f30;


/* 
 * 背景色
 */

$bg-f5f5f5:#f5f5f5;




